@import './utils/vars';
@import './base/reset';
@import './base/common';
@import './utils/hidden';
@import './utils/mixin';
@import './utils/placeholder';
@import './components/container';
@import './layouts/header';
@import './components/logo';
@import './components/mob-menu';
@import './components/soc';
@import './components/heder-nav';
@import './components/heder-contact';
@import './layouts/hero';
@import './layouts/benefits';
@import './layouts/work';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/footer';
@import './components/footer-form';
@import './components/portfolio-btn';
@import './components/portfolio-open';
@import './components/modal';




