
.main-nav {
  @extend %position;
  }
  .header__list {
    
    display: flex;
    column-gap: 50px;
    margin-left: auto;
  }

  .heder__navigation {
    @extend %position;
    position: relative;
  }

  .navigation {
   
    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      color: var(--main-title-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;
    }
    &__link:hover,
    &__link:focus {
      color: var(--btn-link-color);
    }
  }

  
  
  
  .current {
    position: relative;
    color: var(--btn-link-color);
    &::after {
      position: absolute;
      left: 0;
      bottom: -2px;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--btn-link-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
   
    
    &:active {
      color: var(--btn-link-color);
    }
  }
  
  .navigation__list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
     display: flex;
     
    }
  }
  .contact {
    display: none;
    @media screen and (min-width: 768px) {
    
      display: block;
      
      padding-top: 21px;
      padding-bottom: 21px;
      
    }
    @media screen and (min-width: 1200px) {
      display: flex; 
      
     }
  }
  
  
  