.mob-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.menu-open-btn {

    margin-left: auto;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
}
.menu-icon {
    fill: var(--main-title-color);
}

.mob-menu {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 21px;
    padding-bottom: 48px;
    z-index: 1;
} 
.menu-close-btn {
    display: block;
    margin-left: auto;
   
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
}

.mob-menu-item:not(:last-child){
    margin-bottom: 32px;
    
}
.mob-menu-link {
    @include title(500,40px,1.17,0.02em);
    color: var(--main-title-color);
}

.mob-connect-list {
    margin-top: 302px;
}
.mob-conntact-item {
    margin-bottom: 32px;
}
.mob-conntact-tel {
    @include title(500,34px,1.17,0.02em);
color: var(--btn-link-color);


}
.mob-conntact-mail {
    @include title(500,24px,1.17,0.02em);
    color:var(--secondary-color);
}
.mob-soc-list {
    // position: relative;
    padding-right: 100px;
    display: flex;
    margin-top: 64px;
}

.mob-soc-link {
    @include title(500,18px,1.2,0.02em);
color: var(--btn-link-color);

}


.mob-soc-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
}
.mob-soc-item:not(:last-child) {
    padding-right: 10px;
}

